@import url("https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@300;400&display=swap");

.main-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  right: 80px;
  margin-bottom: 100px;
}

.set-space {
  position: relative;
  left: 80px;
  background-color: transparent;
}

.top-container-boss {
  width: 1440px;
  font-family: "forum";
  background: linear-gradient(
    180deg,
    #222121 0%,
    rgba(34, 33, 33, 0.24) 54.21%,
    #222121 100%
  );
}

.main-con span {
  width: 563px;
  height: 508px;
  font-family: "Forum";
  font-weight: 400;
  font-style: Regular;
  font-size: 410px;
  line-height: 124%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.main-con p {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  line-height: 126%;
  text-align: right;
  height: 81px;
}

.main-con h5 {
  height: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.main-con div {
  align-self: flex-start;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  font-style: italic;
  font-size: 16px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  right: -1295px;
}

.main-con div img {
  width: 7px;
  height: 14px;
  margin-left: 5px;
}

.link-edit {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
