.editable-section {
  padding: 20px;
  width: 300px;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.editable-text {
  margin-bottom: 10px;
}

.font-size {
  width: 50px;
}

.save-btn {
  background-color: #6d966e;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #249160;
}

.edit-area textarea {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.style-controls {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.style-controls label {
  font-size: 14px;
}

.edit-btn {
  display: none;
}

.editable-section:hover .edit-btn {
  display: inline-block;
}
